/* Variables - Textile Mall Project
   author: Fernando Ted
   02-20-17 */



/* colors */
$white: #FFFFFF;
$purple: #732B90;
$light-purple: #4F2D84;
$light-blue: #7AA0D4;
$magenta: #d85268;
$dark-gray: #282828;
$light-gray: CCCCCC;